:root {
  --Primary: #722c87;
  --Secondary: #9a51c3;
  --Accents: #42324a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
}

body {
  width: 100%;
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
